@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Tapestry', cursive;
    margin: 0;
    background-color: black;
    color: white;
}

#navbar {
    background-color: black;
    height: 4em;
    margin-right: 3%;
    margin-bottom: 1%;
    margin-top: 0.3%;
}

#navbar a {
    float: right;
    color: white;
    text-decoration: none;
    margin-right: 5%;
    margin-top: 2%;
}

#navbar img {
    float: right;
    width: 64px;
}

#principal{
    color: white;
    background: url('../images/sobre.png');
    background-size: 100%;
    padding-top: 10%;
    padding-bottom: 15%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
}

#principal h1 {
    margin: 0;
    text-align: left;
    margin-bottom: 9%;
    margin-left: 5%;
}

#principal p {
    font-size: 1.7em;
    text-align: justify;
}

#ps{
    background: linear-gradient(rgba(	20, 30, 39, 0.7), rgba(57, 91, 100, 0.7));
    text-align: center;
    padding: 2%;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    height: none;
}

#NossosValores{
    background: linear-gradient(rgba(96, 54, 1, 0.7), rgba(54, 21, 0, 0.7), rgba(28, 10, 0, 0.7));
    background-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px; 
    padding-left: 20px;   
    height: 200px;
}

#Certificacoesepremiacoes{
    background: linear-gradient(rgba(96, 54, 1, 0.7), rgba(54, 21, 0, 0.7), rgba(28, 10, 0, 0.7));
    background-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px; 
    padding-left: 20px; 
    height: 200px;
}

#Fazendas{
    background: linear-gradient(rgba(96, 54, 1, 0.7), rgba(54, 21, 0, 0.7), rgba(28, 10, 0, 0.7));
    background-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px; 
    padding-left: 20px;   
    height: 200px;
}

#Doplantioaxicara{
    background: linear-gradient(rgba(96, 54, 1, 0.7), rgba(54, 21, 0, 0.7), rgba(28, 10, 0, 0.7));
    background-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px; 
    padding-left: 20px;   
    height: 200px;
}

#Sustentabilidade{
    background: linear-gradient(rgba(96, 54, 1, 0.7), rgba(54, 21, 0, 0.7), rgba(28, 10, 0, 0.7));
    background-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px; 
    padding-left: 20px;   
    height: 200px;
}

footer {
    /* vermelho (E3), verde (BA), azul (B3) */
    background: linear-gradient( to top, rgba(54, 21, 0, 0.7), rgba(28, 10, 0, 0.7));
    text-align: center;
    padding: 1%;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    height: none;
}